/* General styling */

html, body {
  box-sizing: border-box;
}

img {
  border-radius: 10px;

  /* images should not overflow their containers */
  max-width: 100%;
}

a {
  /* increase clickable area of links */
  padding: 0.5em 0;
}

/* Header */

.header .main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 2vw;
}

.header .logo {
  height: 100%;
  width: 25%;
}

.header .main-text {
  text-align: right;
  width: 75%;
}

.header .sub-text {
  margin: 2vw;
  text-align: right;
}

/* Main content */

.main-content {
  padding: 2vw;
}

/* About Me section */

.about-me .wrapper {
  display: grid;
  text-align: justify;
}

.my-pic {
  margin: 0 auto;
  width: 70%;
}

.tidbits {
  list-style: square;

  /* margin uncollapses with grid display; must be collapsed */
  margin-top: -1em;

  /* align bullets with other content */
  padding-left: 1em;

}

/* Featured Work section */

.featured-work .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.border-radius {
  border: 1px solid #aaa;

  /*
  * border-radius is the sum of padding and border-radius of .thumbnail
  * rounded edges are therefore in parallel
  */
  border-radius: 15px;

  /*
  * vertical margin adds spacing between the sibling divs
  * horizontal centers the contained divs
  */
  margin: 10px auto;

  /* limit child elements to (most of) the viewport width */
  max-width: 90%;

  /* add space between image and 1px border */
  padding: 5px;
}

.thumbnail {
  /*
  * background-position: centers image in the div
  * background-size: image must cover the div entirely
  */
  background: center/cover;

  /* give images rounded edges */
  border-radius: 10px;

  height: 270px;

  /* limit thumbnail to its container's width */
  max-width: 100%;

  width: 350px;
}

.pic-1 {
  background-image: url(../images_resp/sm/hubbon_1x.png);
  background-image: -webkit-image-set(
    url(../images_resp/sm/hubbon_1x.png) 1x,
    url(../images_resp/sm/hubbon_2x.png) 2x
  );
  background-image: image-set(
    url(../images_resp/sm/hubbon_1x.png) 1x,
    url(../images_resp/sm/hubbon_2x.png) 2x
  );
}

.pic-2 {
  background-image: url(../images_resp/sm/pixel_art_maker_1x.jpg);
  background-image: -webkit-image-set(
    url(../images_resp/sm/pixel_art_maker_1x.jpg) 1x,
    url(../images_resp/sm/pixel_art_maker_2x.jpg) 2x
  );
  background-image: image-set(
    url(../images_resp/sm/pixel_art_maker_1x.jpg) 1x,
    url(../images_resp/sm/pixel_art_maker_2x.jpg) 2x
  );
}

.pic-3 {
  background-image: url(../images_resp/sm/the_responsive_blog_1x.png);
  background-image: -webkit-image-set(
    url(../images_resp/sm/the_responsive_blog_1x.png) 1x,
    url(../images_resp/sm/the_responsive_blog_2x.png) 2x
  );
  background-image: image-set(
    url(../images_resp/sm/the_responsive_blog_1x.png) 1x,
    url(../images_resp/sm/the_responsive_blog_2x.png) 2x
  );
}

.overlay {
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  border-radius: 0 0 10px 10px;
  display: flex;
  height: 30%;
  justify-content: center;
  position: relative;
  top: 70%;
}

.overlay .link {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline #70a1fa;
}

.overlay .link:hover {
  color: #70a1fa;
  text-decoration: underline #70a1fa;
}

.overlay .link:active {
  color: #70a1fa;
  text-decoration: underline #70a1fa;
}

/* Contact Me section */

.contact-options {
  /* remove indentation of list items */
  padding: 0;

  list-style: none;
}

.contact-option {
  align-items: center;
  display: flex;
  margin: 1em 0;
}

.contact-icon {
  /* add spacing before text */
  margin-right: 0.5em;

  text-align: right;
  width: 20%;
}

.contact-detail {
  margin: 0;
  text-align: center;
  width: 80%;
}
