/* General styling */

html, body {
  box-sizing: border-box;
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
}

h1,
h2,
h4 {
  font-family: 'Kalam', cursive;
}

img {
  border-radius: 10px;

  /* images should not overflow their containers */
  max-width: 100%;
}

a {
  color: #5161d3;

  /* increase clickable area of links */
  padding: 0.5em 0;

  -webkit-text-decoration: underline #5161d3;
  text-decoration: underline #5161d3;
}

a:hover {
  color: #9129c6;
  -webkit-text-decoration: underline #9129c6;
  text-decoration: underline #9129c6;
}

a:active {
  color: #9129c6;
  -webkit-text-decoration: underline #9129c6;
  text-decoration: underline #9129c6;
}

/* Header */

.header .main {
  align-items: center;
  background: #0497ff;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 2vw;
}

.header .logo-container {
  height: 100%;
  width: 25%;
}

.header .main-text {
  color: white;
  text-align: right;
  width: 75%;
}

.header .sub-text {
  margin: 2vw;
  text-align: right;
}

/* for medium-sized viewport */
@media screen and (min-width: 501px) {
  .header .logo-container {
    /*
     * limiting height to 125px means that the logo will stop filling
     * up this container as the viewport gets wider.
     * so this centers the logo vertically within the container
     */
    align-items: center;
    display: flex;
  }

  .header .logo {
    /*
     * the next breakpoint is 750px; a lot of devies in this range (500-750px)
     * will be in landscape orientation, meaning they will have small
     * heights (300px - 450px).
     * I'm limiting the height to ensure it always takes up less than
     * half of this height.
     * One portrait devices, it will still look good
     */
    max-height: 125px;
  }

  .header .main-text {
    /* make text bigger */
    font-size: 2.8em;

    /*
     * ensure that the browser's default h1 margin doesn't increase
     * the height of the overall header element.
     * the image with its fixed height should set the height of the
     * header
     */
    margin: 0;
  }

  .header .sub-text {
    font-size: 1.3em;

    /*
     * remove vertical margin to reduce height of overall header content
     * see explanation above about landscape devices
     */
    margin: 0 2vw;
  }
}

/* Main content */

.main-content {
  padding: 2vw;
}

.subheading-text {
  color: #616161;
}

/* About Me section */

.about-me .wrapper {
  display: grid;
  text-align: justify;
}

.my-pic {
  /*
   * center image in the middle of the picture element
   * no need to do this for logo because I want it all the way to the left
   * and it's that way by default
   * align-items is needed to prevent vertical stretching of image if only
   * justify-content is set
   */
  align-items: center;
  display: flex;
  justify-content: center;

  margin: 0 auto;
  width: 70%;
}

.tidbits {
  list-style: square;

  /* margin uncollapses with grid display; must be collapsed */
  margin-top: -1em;

  /* align bullets with other content */
  padding-left: 1em;

}

/* for medium-sized viewport */
@media screen and (min-width: 501px) {
  .about-me .wrapper {
    /* vertically center all side-by-side grid cells */
    align-items: center;

    /* two equal width columns */
    grid-template-columns: repeat(2, 1fr);
  }

  .my-pic {
    /* top left grid cell */
    grid-column: 1;
    grid-row: 1;
  }

  .brief {
    /* top right grid cell */
    grid-column: 2;
    grid-row: 1;
  }

  .tidbits-intro {
    /* full row beneath first row */
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .tidbits {
    /* full row beneath its intro */
    grid-column: 1 / 3;
    grid-row: 3;
  }
}

/* for large viewports */
@media screen and (min-width: 751px) {
  .my-pic {
    /* full length image on the left */
    grid-row: 1 / 4;
  }

  .tidbits-intro,
  .tidbits {
    /* right half of row */
    grid-column: 2 / 3;
  }
}

/* Featured Work section */

.featured-work .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail-border {
  border: 1px solid #aaa;

  /*
   * border-radius is the sum of padding and border-radius of .thumbnail
   * rounded edges are therefore in parallel
   */
  border-radius: 15px;

  height: 270px;

  /*
   * vertical margin adds spacing between the sibling divs
   * horizontal centers the contained divs
   */
  margin: 10px auto;

  /* limit child elements to (most of) the viewport width */
  max-width: 90%;

  /* add space between image and 1px border */
  padding: 5px;

  width: 350px;
}

.thumbnail {
  /*
   * background-position: centers image in the div
   * background-size: image must cover the div entirely
   */
  background: center/cover;

  /* give images rounded edges */
  border-radius: 10px;

  /* thumbnail should fill its container */
  height: 100%;
  width: 100%;
}

.pic-1 {
  background-image: url(../images_resp/sm/hubbon_1x.png);
  background-image: -webkit-image-set(
    url(../images_resp/sm/hubbon_1x.png) 1x,
    url(../images_resp/sm/hubbon_2x.png) 2x
  );
  background-image: image-set(
    url(../images_resp/sm/hubbon_1x.png) 1x,
    url(../images_resp/sm/hubbon_2x.png) 2x
  );
}

.pic-2 {
  background-image: url(../images_resp/sm/pixel_art_maker_1x.jpg);
  background-image: -webkit-image-set(
    url(../images_resp/sm/pixel_art_maker_1x.jpg) 1x,
    url(../images_resp/sm/pixel_art_maker_2x.jpg) 2x
  );
  background-image: image-set(
    url(../images_resp/sm/pixel_art_maker_1x.jpg) 1x,
    url(../images_resp/sm/pixel_art_maker_2x.jpg) 2x
  );
}

.pic-3 {
  background-image: url(../images_resp/sm/the_responsive_blog_1x.png);
  background-image: -webkit-image-set(
    url(../images_resp/sm/the_responsive_blog_1x.png) 1x,
    url(../images_resp/sm/the_responsive_blog_2x.png) 2x
  );
  background-image: image-set(
    url(../images_resp/sm/the_responsive_blog_1x.png) 1x,
    url(../images_resp/sm/the_responsive_blog_2x.png) 2x
  );
}

.overlay {
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  border-radius: 0 0 10px 10px;
  display: flex;
  height: 30%;
  justify-content: center;
  position: relative;
  top: 70%;
}

.overlay .link {
  color: white;
  font-size: 1.2em;
  -webkit-text-decoration: underline #70a1fa;
  text-decoration: underline #70a1fa;
}

.overlay .link:hover {
  color: #70a1fa;
  -webkit-text-decoration: underline #70a1fa;
  text-decoration: underline #70a1fa;
}

.overlay .link:active {
  color: #70a1fa;
  -webkit-text-decoration: underline #70a1fa;
  text-decoration: underline #70a1fa;
}

/* for medium-sized viewport */
@media screen and (min-width: 501px) {
  .thumbnail-border {
    /*
     * limit thumbnail to half the viewport height
     * works because most devices in this range are smartphones in
     * landscape orientation
     */
    max-height: 50vh;

    /* make thumbnail a little less than 1/3 of the viewport width */
    width: 28%;
  }

  .pic-1 {
    background-image: url(../images_resp/md/hubbon_1x.png);
    background-image: -webkit-image-set(
      url(../images_resp/md/hubbon_1x.png) 1x,
      url(../images_resp/md/hubbon_2x.png) 2x
    );
    background-image: image-set(
      url(../images_resp/md/hubbon_1x.png) 1x,
      url(../images_resp/md/hubbon_2x.png) 2x
    );
  }

  .pic-2 {
    background-image: url(../images_resp/md/pixel_art_maker_1x.jpg);
    background-image: -webkit-image-set(
      url(../images_resp/md/pixel_art_maker_1x.jpg) 1x,
      url(../images_resp/md/pixel_art_maker_2x.jpg) 2x
    );
    background-image: image-set(
      url(../images_resp/md/pixel_art_maker_1x.jpg) 1x,
      url(../images_resp/md/pixel_art_maker_2x.jpg) 2x
    );
  }

  .pic-3 {
    background-image: url(../images_resp/md/the_responsive_blog_1x.png);
    background-image: -webkit-image-set(
      url(../images_resp/md/the_responsive_blog_1x.png) 1x,
      url(../images_resp/md/the_responsive_blog_2x.png) 2x
    );
    background-image: image-set(
      url(../images_resp/md/the_responsive_blog_1x.png) 1x,
      url(../images_resp/md/the_responsive_blog_2x.png) 2x
    );
  }

  .overlay .link {
    /* this is for devices between 501-650px */
    font-size: 0.8em;
  }
}

/* minor breakpoint for devices between 651-750px */
@media screen and (min-width: 650px) {
  .overlay .link {
    font-size: 0.9em;
  }
}

/* for large viewports */
@media screen and (min-width: 751px) {
  .thumbnail-border {
    /*
     * devices in this range are generally tablets in portrait orientation
     * using 50vh will lead to unusually long thumbnails
     * limit is to ensure that the file is mostly square-shaped
     * so the height limit is close to the width at 900px (the next
     * breakpoint)
     */
    max-height: 245px;
  }
}

/* Contact Me section */

.contact-options {
  list-style: none;

  /* remove indentation of list items */
  padding: 0;
}

.contact-option {
  align-items: center;
  display: flex;
  margin: 1em 0;
}

.contact-icon {
  font-size: 2em;

  /* add spacing before text */
  margin-right: 0.5em;

  text-align: right;
  width: 20%;
}

.contact-detail {
  /* remove default margin around p element */
  margin: 0;

  text-align: center;
  width: 80%;
}

/* for medium-sized viewport */
@media screen and (min-width: 501px) {
  .contact-options {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-option {
    /* stack the contents */
    flex-wrap: wrap;
    justify-content: center;
    width: 33%;
  }

  .contact-icon {
    text-align: center;
  }

  .contact-detail {
    font-size: 0.8em;
  }
}

/* Footer */

.footer {
  text-align: center;
}

.smiley {
  font-size: 2em
}
