/* General styling */

html, body {
  box-sizing: border-box;
}

img {
  border-radius: 10px;
  max-width: 100%;
}

/* Header */

.header .main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 2vw;
  width: 100%;
}

.header .logo {
  height: 100%;
  width: 25%;
}

.header .main-text {
  text-align: right;
  width: 75%;
}

.header .sub-text {
  margin: 2vw;
  text-align: right;
}

/* Main content */

.main-content {
  padding: 2vw;
}

/* About Me section */

.about-me .wrapper {
  display: grid;
  text-align: justify;
}

.my-pic {
  margin: 0 auto;
  width: 70%;
}

.tidbits {
  list-style: square;

  /* margin uncollapses with grid display; must be collapsed */
  margin-top: -1em;

  /* align bullets with other content */
  padding-left: 1em;

}

/* Featured Work section */

.featured-work .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  background: center/cover no-repeat;
  height: 270px;
  margin: 0 auto;
  max-width: 90vw;
  width: 350px;
}

.pic-1 {
  background-image: url(../images_sm/hubbon.png);
}

.pic-2 {
  background-image: url(../images_sm/pixel_art_maker.jpg);
}

.pic-3 {
  background-image: url(../images_sm/the_responsive_blog.png);
}
